@charset "UTF-8";

* {
	font-family: 'Noto Sans KR', sans-serif;
}

#content>h1{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 35px;
	margin-left: 50px;
	font-weight: bold;
}

.boardForm * {
	margin-right: 10px;
	height: 30px;
	border: 3px solid gray;
}

.boardForm button {
	margin-left: 0px;
	background: #df7d35;
	font-weight: bold;
	color: white;
	border: 1px solid #fffcf5;
	width: 50px;
}

.notice * {
	background-color: lightgray;
	font-weight: bold;
}



table {
	border-collapse: collapse;
}

caption {
	display: none;
}

a {
	text-decoration: none;
}

.board_list_wrap {
	width: 100%;
	padding: 50px;
}

.board_list {
	width: 100%;
	border-top: 2px solid navy;
}

.board_list tr {
	border-bottom: 1px solid #ccc;
}

.board_list th, .board_list td {
	padding: 10px;
	font-size: 15px;
}

.board_list thead * {
	text-align: center;
}

.board_list tbody * {
	text-align: center;
}

.board_list tbody tr td:nth-child(2) {
	text-align: left;
}

.board_list tbody tr td:nth-child(2):hover {
	text-decoration: underline;
	cursor: pointer;
}


.button {
	background-color: white;
	color: red;
	height: 30px;
	width: 65px;
	border-radius: 5px;
	border: 1px solid red;
}

.paging {
	margin-top: 10px;
	text-align: center;
}

.paging button {
	padding: 5px 10px;
	border: 1px solid #D5D5D5;
	border-radius: 2px;
	font-size: 12px;
	background-color: rgba(245, 245, 245, 245);
}

#choosen {
	background: #FFD8D8;
}


#obj {
	background-color: orange;
	color: white;
	font-size: large;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid orange;
	width: 100px;
	height: 40px;
	margin-left: 85%;
}
