@charset "UTF-8";

#calender-title {
	text-align: center;
}

#calendar {
	height: 99%;
	box-sizing: border-box;
	padding: 0.5%;
}

.dayofweek {
	background-color: gray;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
	margin-bottom: 0.5%;
	
}

.calendar__day {
	display: inline-block;
	vertical-align: bottom;
	width: calc(96% / 7);
	height: calc(98% / 5);
	box-sizing: border-box;
	border-radius: 5px;
	padding: 20px;
	margin-right: 0.5%;
}

.horizontalGutter {
	margin-right: 0.5%;
}

.verticalGutter {
	margin-top: 0.5%;
}